@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color palette #0c343d  #23434b*/
  --clr-primary-1: #ee9985;
  --clr-primary-2: #958dc4;
  --clr-primary-3: #52c3cb;
  --clr-primary-4: #0b2f37;
  --font-secondary: "Style Script", cursive;
}
/*
==> Global Styles <==
*/
*,
::after,
::before {
  @apply box-border m-0 p-0;
}
body {
  @apply bg-[#0B2F37] text-[color:var(--clr-primary-1)] leading-loose text-sm;
}

  .style-script {
  font-family: var(--font-secondary);
}

